/* <!--Hailey Galmeister
    Section 004
    April 19, 2023
--> */

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.794);
}
h4,
h6 {
}
li {
    color: rgb(5, 18, 169);
    font-size: 14;
    font-style: normal;
}
a {
    color: rgb(5, 18, 169);
    font-style: italic;
}

/* #menu li {
    flex-grow: 1;
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: bisque;
    border: solid 2px brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item7 {
    grid-column: 1;
}

.contestant {
    width: 20em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    grid-column: 1 / span 3;
}
 */

.hero .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #0006;
}

/* .hero {
    position: relative;
    overflow: hidden;
    height: 90vh;
} */

.video-background {
    background: #000;
    position: absolute;
    inset: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/* body {
    margin-top: 1000px;
} */

/* @media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
} */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: darkseagreen;
    border: darkgreen solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.space {
    margin-top: 1000px;
}
body {
    background-color: lightgrey;
}
.funnybutton {
    margin-top: 2rem;
}

header a {
    color: #ffffff;
}
